<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<style>
  #mailer {
    transform: translateX(100%);
    position: absolute;
    right: 0%;
    top: 55%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s ;
  }
  #closeMail{
    cursor: pointer;
  }
  
</style>

<body style="overflow-x: hidden;">
 
  
  <div style="padding: 2vw;" class="conatiner">
    <h1>Hey ,<lead><%= sent.username %></lead>
    </h1>
    <button id="createMail" type="button" class="btn btn-primary">Create mail</button>

  </div>

  <hr>
  

  <div  style="width: 90vw;background-color: rgba(205, 134, 63, 0);" class="container">
    <% sent.sentMails.forEach(element=> {%>
      <div style="background-color: rgba(0, 128, 0, 0);margin-bottom:2vw ;width: 100%; height: fit-content;" class="card">
        
        <h4>to : <%= element.sendingto %></h4>
        
        <h4>content : <%= element.mailtext %></h4>
        
      </div>
        <% }); %>
  </div>





  <div style="width: 24rem; background-color: #dadada;height: 20vw;" id="mailer" class="container">
    <h4 id="closeMail">X</h4>
    <form action="/compose" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Sending to:</label>
        <input type="text" class="form-control" placeholder="recivers email" name="sendingto" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </div>
      <div class="form-floating">
        <textarea class="form-control" style="resize: none; height: 19vh;" name="mailtext"
          placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea lead">mailtext</label>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Send mail</button>
    </form>
  </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script>
    var mailBtn = document.querySelector("#createMail")
    var closeMail = document.querySelector("#closeMail")
    var mailer = document.querySelector("#mailer")
    mailBtn.addEventListener("click", () => {
      mailer.style.transform = `translateX(-10%)`
    })
    closeMail.addEventListener("click", () => {
      mailer.style.transform = `translateX(100%)`
    })
    
  </script>
</body>

</html>